h1 {
  text-align: center;
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2 {
  text-align: center;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3 {
  text-align: center;
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
h4 {
  text-align: center;
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png") repeat;
}
h5 {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  text-align: left;
  display: inline;
}
p {
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
}
.p01 {
  text-align: center;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
.p02 {
  text-align: left;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  display: inline;
}
.banner {
  background: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png") repeat;
}
.banner2 {
  background: dimgray repeat;
  text-align: left;
}
